.modal-container{
    position: relative;
    width: 25em;
    height: 33em;
    border: 2px solid black;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.modal-title{
    text-align: center;
}

 .profile-cont{
    display: grid;
    padding: 20px;
    display: flex;
    place-items: center;

 }
.profile-img{
    border: 1px solid black;
    border-radius: 100%;
    margin: 13px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
}
img.loading {
    opacity: 0.6;
}
.profile-input{
    display: flex;
    justify-content: center;
}

.change-cont{
    display: grid;
    place-items: center;
    padding: 10px;
    margin: 5px;
}
.change-cont .requirements{
    color: lightslategray;
    font-size: 13px;
    font-family: sans-serif;
}
.username-cont{
    display: inline-flex;
    justify-content: space-evenly;
    place-items: center;
} 
.username-cont #username-label{
    font-size: large;
    font-weight: bold;
}
.username-cont .username-input{
    padding: 7px;
}
input:focus{
    outline: none;
}
.date-joined{
    text-align: center;
    color: lightslategray;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
}

.modal-container button{
    width: 8em;
    padding: 7px;
    font-weight: 700;
    font-size: large;
    border-radius: 20px;
    transition-duration: 0.4s;
}
button:focus{
    outline: none;
} 
.btns-cont{
    display: inline-flex;
    justify-content: space-evenly;
    place-items: center;
    padding: 10px;
}
.save, .change{
    background-color: blue;
    color: white;
    border: 3px solid blue;
}
.save:hover, .change:hover{
    background-color: #008CBA;
    border-color: #008CBA;
}

.cancel{
    background-color: white;
    color: red;
    border: 3px solid red;
}
.cancel:hover{
    background-color: red;
    color: white;
}
button.not-allowed{
    cursor: not-allowed;
}